body {
	background-image: url("/img/paper.jpg");
	background-repeat: repeat;
}

.information_page {
	margin-left: 18%;
	border-left: 1vw solid #568079;
}

.lateral_bar {
	margin-right: 82%;
	position: sticky;
	top: 0;
	z-index: 999;
	text-align: center;
	font-family: 'Museo Slab', sans-serif;
	position: fixed;
    top: 0;
    left: 0;
}

.lateral_bar h4 {
	font-size: 4vw;
}

header {
	text-align: center;
	width: 100%;
}
header .overlay{
  	font-family: 'Museo Slab', sans-serif;
}

h1 {
	color: #568079;
	font-size:20vw
}

h3, p {
	color: #568079;
}

h3 {
	font-size:4vw
}

.sottotitolo {
	font-size:2vw
}

	/* BARRA LATERALE*/

	/*	BUTTONS */

.buttons {
	font-family: 'Museo Slab', sans-serif;
	padding-top: 20px;
	text-align: center;
	font-size:2vw;
	text-align: left;
	
}
.btn_Storia {
	cursor: pointer;
	padding: .1em .6em;
	font-weight: bold;  
	border: none;
	color: black;
	margin-bottom: 10px;
	width: 18vw;
}
.btn_olivetti {
	cursor: pointer;
	padding: .1em .6em;
	font-weight: bold;  
	border: none;
	color: black;
	margin-bottom: 10px;
}
.btn_nascita {
	cursor: pointer;
	padding: .1em .6em;
	font-weight: bold;  
	border: none;
	color: black;
	margin-bottom: 10px;
}
.btn_arduino {
	cursor: pointer;
	padding: .1em .6em;
	font-weight: bold;  
	border: none;
	color: black;
	margin-bottom: 10px;
	width: 18vw;
}

button {
	--c:  #ACB38F; /* the color*/
	
	box-shadow: 0 0 0 .1em inset var(--c); 
	--_g: linear-gradient(var(--c) 0 0) no-repeat;
	background: 
	  var(--_g) calc(var(--_p,0%) - 100%) 0%,
	  var(--_g) calc(200% - var(--_p,0%)) 0%,
	  var(--_g) calc(var(--_p,0%) - 100%) 100%,
	  var(--_g) calc(200% - var(--_p,0%)) 100%;
	background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
	outline-offset: .1em;
	transition: background-size .8s, background-position 0s .8s;
  }
button:hover {
	--_p: 100%;
	transition: background-position .4s, background-size 0s;
  }
button:active {
	box-shadow: 0 0 9e9q inset #0009; 
	background-color: var(--c);
	color: #fff;
  }

  /* TITOLO TESTI*/

.par_title {
	text-align: left;
	margin-top: 5%;
	margin-right: 10%;
	margin-bottom: -10%;
	margin-left: 5%;
	font-family: 'Museo Slab', sans-serif;

}

.par_title h2 {
	vertical-align: middle;
	align-items:center;
    justify-content:center;
	display: flex;
	font-size:5vw;
	color: #568079;
}

.par_title img {
	float: right;
}

  /* TESTO */
.paragrafo p {

	text-align: left;
	margin-left: 5%;
	margin-top: 10%;
	margin-right: 10%;
	font-family: 'Museo Slab', sans-serif;
	font-size:2vw
	
}

.animate {
	animation: zoom 2s;
}

img {
	float: right;
	width: 30%;
  	height: auto;
	margin-left: 20px;
	border-radius: 10px;
}

hr {
	width: 50%;
	margin-left: 5%;
	border-width: 4px;
}

@keyframes zoom {
	
	0% {
		transform: scale(0.01);
	}
	100%{
		transform: scale(1);
	}

}

/*	FINE PAGINA */

.conclusione {
	margin-top: 10vw;
	align-items: center;

	font-family: 'Museo Slab', sans-serif;
	font-size: 2vw;
	background-color: #568079;
}

.conclusione p {
	margin-left: 20vw;
	color: white;
}

.icon {
	margin-right: 20vw;
	float: right;
	width: 2vw;
	margin-top: 0.5vw;
}