body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-style: bold;
    background-color: rgb(225, 250, 248);
}



.title{
    text-align: center;
}
.title img{
    width: 80vw;
    height: auto;
}

.div_copyright{
    text-align: center;
    
    
}

.div_copyright p{
    margin: 1vw;
    border-radius: 0vw;
    border: solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0.5;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

.div_home a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    padding: 1vw;
    flex-grow: 1;
    border-radius: 0vw;
    border: solid;
    box-shadow: 0.5vw 1vw black;
    
    font-size: 1.5vw;
    transition: all .2s ease-in-out; 
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event {
    background-color: rgb(205, 244, 240);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.event:hover {
    transform: scale(1.02);
}

.event h2 {
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event a{
    color: black;
    font-style: bold;
    font-size: 300%;
}